module.exports = {
  root: {
    RPC: "https://goerli.infura.io/v3/API-KEY",
  },
  child: {
    RPC: "https://rpc-mumbai.matic.today",
  },
  user: {
    privateKey:
      "0xPVT_KEY",
    address: "Address",
  },
};
